body {
  background-image: url(http://lcwphotos.imgix.net/DesertedRailroad.jpg);
  background-size: cover;
}

.about {
  border: none;
  background-color: transparent;
}

.img-thumbnail {
  /* border: none; */
  background-color: transparent;
  border: none;
}

.card-title {
  color: #fff;
}

.card-text {
  color: #fff;
}