body {
  background-image: url(http://lcwphotos.imgix.net/DesertedRailroad.jpg);
  background-size: cover;
}

.about {
  border: none;
  background-color: transparent;
}

.header {
  width: 100%;
  background-color: transparent;
  border: none;
}

.rounded {
  border-radius: 20px;
}

.card-title {
  color: #fff;
}

.card-text {
  color: #fff;
}