.slideshow {
  list-style: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
  background-image: url("https://lcwphotography.herokuapp.com/images/image/TetonGlow.jpg");
}

.slideshow li:nth-child(2) {
  background-image: url("https://lcwphotography.herokuapp.com/images/image/MesaSunburst.jpg");
  animation-delay: 10s;
}

.slideshow li:nth-child(3) {
  background-image: url("https://lcwphotography.herokuapp.com/images/image/SchwabacherSunrise.jpg");
  /* background-image: url("../photos/RusticBarn.jpg"); */
  animation-delay: 20s;
}

.slideshow li:nth-child(4) {
  /* background-image: url("https://lcwphotography.herokuapp.com/images/image/TheMajesticFlatirons.jpg"); */
  background-image: url("../photos/TheMajesticFlatironsedit.jpg");
  animation-delay: 30s;
}

.slideshow li:nth-child(5) {
  background-image: url("https://lcwphotography.herokuapp.com/images/image/CottonCandySunrise.jpg");
  /* background-image: url("../photos/TheWindowtotheWest.jpg"); */
  animation-delay: 40s;
}

@media screen and (max-width: 500px) {
  body {
    background: url("https://lcwphotography.herokuapp.com/images/image/AutumnalReflections.jpg")
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .slideshow li:nth-child(1) {
    background-image: url("https://lcwphotography.herokuapp.com/images/image/CrystalMill.jpg");
    /* background-image: url("../photos/TheUpsideDown.jpg"); */
  }

  .slideshow li:nth-child(2) {
    background-image: url("https://lcwphotography.herokuapp.com/images/image/SnowyBison.jpg");
    /* background-image: url("../photos/EyetoEye.jpg"); */
    background-size: cover;
    animation-delay: 10s;
  }

  .slideshow li:nth-child(3) {
    background-image: url("https://lcwphotography.herokuapp.com/images/image/AutumnalReflections.jpg");
    /* background-image: url("../photos/LastLight.jpg"); */
    animation-delay: 20s;
  }

  .slideshow li:nth-child(4) {
    background-image: url("https://lcwphotography.herokuapp.com/images/image/IfTheseWallsCouldTalk.jpg");
    animation-delay: 30s;
  }

  .slideshow li:nth-child(5) {
    background-image: url("https://lcwphotography.herokuapp.com/images/image/FireArch.jpg");
    /* background-image: url("../photos/ArchwaytotheWest.jpg"); */
    animation-delay: 40s;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  30% {
    opacity: 0;
    animation-timing-function: ease-out;
  }
}
